@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

#root {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

#root * {
    font-family: 'Lato', sans-serif;
}

.dropdown-toggle {
    color: #f8f9fa !important;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.homepage-card {
    top: 0;
    bottom: 0;
    right: 30px;
    width: 344px;
    height: fit-content;
    background: rgba(211, 211, 211, 0.10);
    align-items: flex-end;
    margin: auto;
    padding: 14px;
    border-radius: 0;
    z-index: 2;
}

.homepage-card-body {
    padding: 0;
    color: #EEE;
    text-align: right;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 62.688%;
    font-variant: all-small-caps;
    letter-spacing: -2.25px;
    display: flex;
    align-items: center;
}

.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 20px;
    color: #fff;
}

.swiper-pagination-bullet-active {
    background: #fff;
}

@media (max-width: 767px) {
    .nav-override {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
    }
}

@media (min-width: 768px) {
    img {
        width: 100%;
    }
}